<h1 class='title'>BOOMZZ</h1>


<body>

  <section class='left-content'>
    <article>
      <% @users.each do |user| %>
      <div class='user'>
        <h2 class='user_name'>
          <%= user.name %>
        </h2>
      </div>
      <hr style='border: none; margin: 1em;' />
      <% end %>
    </article>
    <aside>
      <h3>#LFTCNTNT</h3>
    </aside>
  </section>

  <section class='right-content'>
    <aside>
      <h3>#RGHTCTNT</h3>
    </aside>
    <article>
      <% @users.each do |user| %>
      <div class='user'>
        <h2 class='user_name'>
          <%= user.name %>
        </h2>
      </div>
      <hr style='border: none; margin: 1em;' />
      <% end %>
    </article>
  </section>

  <section class='solo-content'>
    <article>
      <% @users.each do |user| %>
      <div class='user'>
        <h2 class='user_name'>
          <%= user.name %>
        </h2>
      </div>
      <hr style='border: none; margin: 1em;' />
      <% end %>
    </article>
  </section>

</body>
